[Desktop Entry]
Name=DWL
Comment=dwm for Wayland
Exec=env XDG_CURRENT_DESKTOP=dwl dbus-run-session /usr/local/bin/dwl -s "startway.sh"
Type=Application
